# Visual Studio
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/

imgui.ini

include/imGUI/examples/example_android_opengl3/out
include/imGUI/examples/example_glfw_vulkan/out
