[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/rapidyaml"]
	path = vendor/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "vendor/bobtail"]
	path = vendor/bobtail
	url = https://github.com/Torphedo/bobtail
